<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Post">
          <match url="post/([0-9]+)"/>
          <action type="Rewrite" url="index.php?post={R:1}"/>
        </rule>
        <rule name="Category">
          <match url="cat/([0-9]+)"/>
          <action type="Rewrite" url="index.php?cat={R:1}"/>
        </rule>
        <rule name="Page">
          <match url="page/([0-9]+)"/>
          <action type="Rewrite" url="index.php?page={R:1}"/>
        </rule>
        <rule name="PageMap">
          <match url="[^/]+$"/>
          <conditions>
            <add input="{PageIdToTitle:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Rewrite" url="index.php?page={C:1}" appendQueryString="false"/>
        </rule>
        <rule name="PostMap">
          <match url="[^/]+$"/>
          <conditions>
            <add input="{PostIdToTitle:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Rewrite" url="index.php?post={C:1}" appendQueryString="false"/>
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="PostIdToTitle">
          <add key="testing_url_rewrite_again" value="400"/>
        </rewriteMap>
      </rewriteMaps>
      <rewriteMaps>
        <rewriteMap name="PageIdToTitle">
          <add key="home" value="1"/>
          <add key="/connect_with_moms" value="3"/>
          <add key="/meet_us" value="4"/>
          <add key="/blog" value="5"/>
          <add key="/pta" value="6"/>
          <add key="/groups" value="7"/>
          <add key="/system_features" value="9"/>
          <add key="/sponsors" value="11"/>
          <add key="/national" value="12"/>
          <add key="/state" value="13"/>
          <add key="/local" value="14"/>
          <add key="/parents" value="15"/>
          <add key="/using" value="16"/>
          <add key="/get_started" value="17"/>
          <add key="/gateway_to_moms" value="26"/>
          <add key="/touch_points" value="27"/>
          <add key="/meet_our_sponsors" value="29"/>
          <add key="/gateway2moms_insights" value="30"/>
          <add key="/learnjbf_com" value="31"/>
          <add key="/testimonials" value="32"/>
          <add key="/news" value="33"/>
          <add key="/contact_us" value="34"/>
          <add key="/our_team" value="36"/>
          <add key="/request_a_media_kit" value="39"/>
          <add key="/careers" value="40"/>
          <add key="/logos" value="42"/>
          <add key="testing_url_rewrite" value="400"/>
          <add key="testing_url_rewrite_again" value="400"/>
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
  </system.webServer>
</configuration>
