
header {
	background: hsl(24, 90%, 50%) url(../images/bg_header_light.png) repeat-x;
}
header #logo a {
    /* background-position: 0 -40px; */
}
header #top nav ul div{
    background-color: hsl(24, 87%, 50%);
}
header #top nav ul div h4{
    color: hsl(0, 0%, 100%);
    border-bottom: solid 1px hsl(0, 0%, 100%);
}

header #top nav li a:hover {
}
header nav li:first-child a {
	border-left: 1px solid rgba(0,0,0,0.10);
}
header nav li a {
	border-right: 1px solid rgba(0,0,0,0.10);
}
header nav li a:hover {
	background-color: hsla(24, 87%, 10%, .25);
}
header nav ul li ul {
    background-color: hsl(24, 87%, 50%);
}
}
