
header {
	background: #FFFFFF url(../images/bg_header_light.png) repeat-x;
}
header #logo a {
    background-position: 0 -53px;
}
header #top nav ul div{
    background-color:#FFFFFF;
}
header #top nav ul div h4{
    color: hsl(0, 0%, 27%);
    padding: 10px 20px 5px 20px;
    border-bottom: solid 1px hsl(0, 0%, 90%);
}

header #top nav li a:hover {
	color: hsl(0, 0%, 27%);
	background: none;
}
header nav li:first-child a {
	border-left: 1px solid rgba(0,0,0,0.10);
}
header nav li a {
    color: #409ad4;
	border-right: 1px solid rgba(0,0,0,0.10);
}
header nav li a:hover {
	color: hsl(0, 0%, 27%);
	background-color: rgba(0,0,0,0.20);
}
header nav ul li ul {
    background-color: hsl(0,0%, 100%);
}
